{% extends 'good_shop/basic.html' %}
{% block title %}
    Список заказов
{% endblock %}

{% block body %}
    <h1> Заказы: </h1>
    {% if order %}
        <div>
            {% for order in order %}
                <div>
                    <p> Заказ пользователя: {% firstof order.user.first_name order.user.username %} </p>
                    <p> Промокод: <code>{{ order.promo }}</code></p>
                    <p> Адрес доставки: {{ order.delivery_address }}</p>
                    <div>
                        Продукты в заказе:
                        <ul>
                            {% for product in order.products.all %}
                                <li>
                                {{ product.name }}, цена - {{ product.price }} руб.
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h3> Заказов нет </h3>
    {% endif %}
{% endblock %}