{% extends 'good_shop/basic.html' %}

{% block title %}
    Создание заказа
{% endblock %}

{% block body %}
    <h1>
        Форма для оформления заказа
    </h1>
    <div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">
                Подтвердить заказ
            </button>
        </form>
    </div>
    <div>
        <a href="{% url 'good_shop:orders' %}">
            Вернуться к списку заказов
        </a>
    </div>
{% endblock %}