{% extends 'good_shop/basic.html' %}
{% block title %}
    Список продуктов
{% endblock %}

{% block body %}
    <h1> Продукты: </h1>
    {% if product %}
        <div>
            {% for product in product %}
                <div>
                    <p><a href="{% url 'good_shop:product_detail' pk=product.pk %}">Название: {{ product.name }}</a></p>
                    <p> Цена: {{ product.price }} руб. </p>
                    <p> Скидка: {% firstof product.discount 'нет скидки' %} </p>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h3> Нет продуктов </h3>
    {% endif %}
    <div>
        <a href="{% url 'good_shop:create_product' %}">
            Создать новый продукт
        </a>
    </div>
{% endblock %}