{% extends 'my_shop/base.html' %}

{% block title %}
    User
{% endblock %}

{% block body %}
    <h1>
        User form
    </h1>
    <div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">
                Submit
            </button>
        </form>
    </div>

    {% if request.POST %}
        <div>
            <h2>Данные пользователя:</h2>
            <table>
                <tr>
                    <td>Имя:</td>
                    <td>{{ request.POST.name }}</td>
                </tr>
                <tr>
                    <td>Возраст:</td>
                    <td>{{ request.POST.age }}</td>
                </tr>
                <tr>
                    <td>Информация:</td>
                    <td>{{ request.POST.info|linebreaks }}</td>
                </tr>
            </table>
        </div>
    {% endif %}
{% endblock %}